<!--Common header-->
<%- include ../partials/header2.ejs %>
<main role="main" class="clearfix">
    <h1>Login</h1>
    <form method="post" action="/auth/login">
        <div>
            <label for="username">Username: *</label>
            <input name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password: *</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button>Login</button>
    </form>
</main>
<!--Common footer-->
<%- include ../partials/footer.ejs %>