<!--shared header-->
<%- include ../partials/header2.ejs %>
<main role="main" class="clearfix">
    <div class="container container_resize container_margin">
        <h1>Login</h1>
        <a href="register" class="manage_link">Register</a>
        <!--invalid login message-->
        <% if (messages.length > 0) { %>
        <div id="login_message"><%= messages %></div>
        <% } %>
        <!--login form-->
        <form method="post" action="/auth/login">
            <div>
                <label for="username">Username: *</label>
                <input name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password: *</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button>Login</button>
        </form>
    </div>
</main>
<!--shared footer-->
<%- include ../partials/footer.ejs %>