<!--main header for every page-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CAFE ALBERO</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <style>
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../images/cafe_albero/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../images/cafe_albero/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
    </style>
</head>
<body style="padding:0px; margin:0px;">
<div class="page">
    <header role="banner">
        <div id="brand">
            <span>CAFE</span>
            <img src="images/cafe_albero/logo.png" id="logo" />
            <span>ALBERO</span>
        </div>
        <nav role="navigation" class="clearfix">
            <ul id="mainnav">
                <li>
                    <a href="../home">Home</a>
                </li>
                <li>
                    <a href="#">Coffee & Beverages</a>
                </li>
                <li>
                    <a href="#">Snacks</a>
                </li>
                <li>
                    <a href="#">Calendar</a>
                </li>
                <li>
                    <a href="#">Membership</a>
                </li>
            </ul>
            <ul id="subnav">
                <li>
                    <h4>Cafe Albero</h4>
                    <a href="#">History</a>
                    <a href="#">Family</a>
                    <a href="#">Motto</a>
                </li>
                <li>
                    <h4>Coffee</h4>
                    <a href="#">New Release</a>
                    <a href="#">Hot</a>
                    <a href="#">Ice</a>
                    <br />
                    <h4>Beverages</h4>
                    <a href="#">New Release</a>
                    <a href="#">Hot</a>
                    <a href="#">Ice</a>
                </li>
                <li>
                    <h4>Bread</h4>
                    <a href="#">Bagel</a>
                    <a href="#">Croissant</a>
                    <a href="#">Muffin</a>
                    <a href="#">Scone</a>
                    <a href="#">Cookie</a>
                    <br />
                    <h4>Gelato</h4>
                    <a href="#">Fruit</a>
                    <a href="#">Etc.</a>
                </li>
                <li>
                    <h4>Special Events</h4>
                    <a href="#">This Month</a>
                    <a href="#">Next Month</a>
                </li>
                <li>
                    <h4>Members</h4>
                    <a href="../branches">Branches</a>
                    <a href="#">Q&A</a>
                </li>
            </ul>
        </nav>
    </header>