<!--landing page to introduce application-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body {
        font-family: arial;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to CAFE ALBERO</h1>
    <p>This is an application to promote a brand, CAFE ALBERO, and let its admistrators manage branches in Australia</p>
  <a href="home">Visit the website</a>
  </body>
</html>
