<!--landing page to introduce application-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body {
        font-family: arial;
      }
      p#alert {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to CAFE ALBERO</h1>
    <h3>This is an application to promote an Australian cafe brand, CAFE ALBERO, and let its members to manage all branches in Australia</h3>
    <br>
    <p id="alert"><em>Please click Branches under Membership link in navigation to see all the business directories of CAFE ALBERO</em></p>
  <a href="home">Visit the website</a>
  </body>
</html>
