html { 
    background: url(../image/clouds_in_blue_sky-wallpaper-1920x1080.jpg) no-repeat  center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}7105355