<!--Common header-->
<%- include ../partials/header3.ejs %>
<main role="main" class="clearfix">
    <div class="container container_resize container_margin">
        <form method="post" action="add">
            <h1><%= title %></h1>
            <div>
                <label for="number">Branch #: *</label>
                <input name="number" id="number" required >
            </div>
            <div>
                <label for="location">Location: *</label>
                <input name="location" id="location" required >
            </div>
            <div>
                <label for="owner">Owner: *</label>
                <input name="owner" id="owner" required >
            </div>
            <div>
                <label for="employees">Employees: *</label>
                <input name="employees" id="employees" required >
            </div>
            <div>
                <label for="rate">Rate: *</label>
                <input name="rate" id="rate" required >
            </div>
            <button>Add</button>
        </form>
    </div>
</main>
<!--Common footer-->
<%- include ../partials/footer.ejs %>